/**
 * Configure Tailwind v4 in this file using CSS variables and directives:
 * https://tailwindcss.com/docs/v4-beta#css-first-configuration
 */

@import 'tailwindcss';

@theme {
    /* breakpoints */
    --breakpoint-xs: 420px;

    /* fonts */
    --font-geist: 'Geist Variable', sans-serif;

    /* colors */
    --color-border: oklch(0.3715 0 0);
    --color-washed-red: oklch(0.6616 0.2249 25.88);
}
